.Rproj.user
.Rhistory
_main.utf8.md
_main.knit.md
_main.md
*.upb
*.aux
*.upa
*.log
*.tex
*.pdf
*.html
*.css
*.woff
*.js

model/
quarto_website/rsconnect
data-raw/2023
data-raw/ageing_error
data-raw/ashop
data-raw/biology
data-raw/bds
data-raw/discard
data-raw/landings
data-raw/recfin
data-raw/survey
data-raw/weight_at_age
data-raw/maturity
presentations/
scientific_papers/
report/sablefish_convert_output.csv

