.Rproj.user
.Rhistory
_main.utf8.md
_main.knit.md
_main.md
*.upb
*.aux
*.upa
*.log
*.pdf
*.html
*.css
*.woff
*.js

model/
quarto_website/rsconnect
data-raw/historical
data-raw/ageing_error
data-raw/ashop
data-raw/biology
data-raw/bds
data-raw/discard
data-raw/enviro_index
data-raw/landings
data-raw/management
data-raw/recfin
data-raw/survey
data-raw/weight_at_age
data-raw/maturity
presentations/
scientific_papers/
report/sablefish_model_output.csv
report/rda_files
report/SAR_USWC_sablefish_skeleton.tex

