.Rproj.user
.Rhistory
_main.utf8.md
_main.knit.md
_main.md
*.upb
*.aux
*.upa
*.log

models/
data-raw/2023
data-raw/ashop
data-raw/bds
data-raw/discard
data-raw/landings
data-raw/recfin
data-raw/survey
data-raw/weight_at_age
presentations/
scientific_papers/

